apiVersion: apps/v1
kind: Deployment
metadata:
  name: sentinela-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: sentinela-rs_backend
          ports:
            - containerPort: 8080
